---
layout: page
# The Archives of posts.
---

{% include lang.html %}

{% if site.prefer_datetime_locale == 'en' or lang == 'en' %}
{% assign df_strftime_m = '%b' %}
{% assign df_dayjs_m = 'MMM' %}
{% else %}
{% assign df_strftime_m = '/ %m' %}
{% assign df_dayjs_m = '/ MM' %}
{% endif %}

<html>

<head>
  <link href="/style/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <p>
  <h2>
    <li>Info</li>
  </h2>
  이름: 양희웅<br />
  전공: 컴퓨터공학전공<br />

  <h2>
    <li>관심 분야</li>
  </h2>
  Android Studio<br />
  Xcode<br />
  React Native<br />
  Flutter<br />


  </p>
  <!-- <details>
    <summary>테스트</summary>
    <img src="/assets/img/postImage/라이엇API호출/2_1.png" width=700 height="100%" title="2" alt="가져올 소환사 정보" />
  </details> -->
</body>

</html>